body {
  background-image: url("../img/bg.jpg");
  background-size: cover;
}

.banner {
  outline: 1px dashed grey;
  height: 20vh;
  background-color: rgba(214, 234, 170, .4);
}

.banner-inner {
  background-image: url("../img/banner_misty-mountain.jpg");
  background-size: cover;
}

/*#banner-left {
  outline: 1px dashed grey;
  float: left;
  min-height: 15vh;
  max-height: auto;
  width: 15vw;
  height: 15vh;
  margin-left: 5vw;
  margin-top: 2vh;
  background-image: url("../img/banner_misty-mountain.jpg");
  background-size: 80vw 15vh;
  background-repeat: no-repeat;
  /*background-color: rgba(184, 204, 112, .5);*/
}

/*#banner-right {
  outline: 1px dashed grey;
  float: right;
  width: 60vw;
  height: 15vh;
  margin-right: 5vw;
  margin-top: 2vh;
  background-image: url("../img/banner_misty-mountain.jpg");
  background-size: 60vw 15vh;
  background-repeat: no-repeat;*/

/*#camera {
  max-width: 100%;
  height: auto;
  opacity: .65;
}

#my-name {
  padding: 2%;
  opacity: .65;
}*/

.content {
  outline: 1px dashed grey;
  height: 80vh;
  background-color: rgba(214, 234, 100, .2);
}

.content-upper {
  outline: 1px dashed grey;
  height: 60vh;
  padding: 2%;
}

#content-upper-left {
  outline: 1px dashed grey;
  float: left;
  width: 49%;
  height: 55vh;
}

#content-upper-right {
  outline: 1px dashed grey;
  float: right;
  width: 49%;
  height: 55vh;
}

 h3 {
   text-align: right;
 }

 ul {
   list-style: none;
 }

 .color-brown {
   color: brown;
 }
